*{
    padding: 0;
    margin: 0;
}

.starships--container
{
    margin-left: 250px;
    background-color: rgb(34 ,34, 34);
    height: 78vh;
        display: flex;
    align-items: center;
    justify-content: space-around;
}

.starships--info
{
    flex: 1;
    height: 80%;
    border: 1px solid gold;
    overflow-y: scroll;
    overflow-x: hidden;
}

.starships--info-header
{
    width: calc(100% - 1px);
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 30px;
    font-family: StarWars;
}

.starships--info-item
{
  width: calc(100% - 1px);
  height: 70px;
  background-color: rgb(34, 34, 34);
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.starships--info-item:hover
{
    border: 1px solid red;
}